body {
  margin: 0;
  font-family: 'LabGrotesque';
}

#root {
  min-height: 100vh;
  background: linear-gradient(
      255.35deg,
      #dc3131 0.83%,
      rgba(255, 79, 79, 0) 108.93%
    ),
    #ff5e56;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */
.btn {
  font-size: 1rem;
  border: none;
  box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
  border-radius: 6px;
  font-weight: 500;
  font-family: inherit;
  padding: 1em 2em;
  background: linear-gradient(
      255.35deg,
      #dc3131 0.83%,
      rgba(255, 79, 79, 0) 108.93%
    ),
    #ff5e56;
  cursor: pointer;
}
.btn_transparency {
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
}
@media screen and (max-width: 320px) {
  .btn {
    font-size: 0.75rem;
  }
}

/* popUp */
.popUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}
.popUp__content {
  background: #ffffff;
  border-radius: 30px;
  padding: 2rem;
  max-width: 552px;
  z-index: 1;
  position: relative;
}
.popUp__close {
  position: absolute;
  top: 22px;
  right: 18px;
  cursor: pointer;
  padding: 5px;
}
@media screen and (max-width: 320px) {
  .popUp__content {
    width: calc(100vw - 4rem);
    min-height: calc(100vh - 4rem);
    border-radius: 0;
  }
}

.main-form {
  display: flex;
  flex-direction: column;
}

.main-form__text {
  font-size: 0.875rem;
  margin: 1rem 0 1.5rem;
}
.main-form__titel {
  font-size: 1.875rem;
  font-weight: 500;
}

.main-form__label-salary {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.main-form__salary {
  border: 1px solid #dfe3e6;
  border-radius: 3px;
  padding: 0.5rem 0.675rem;
  outline: none;
}
.main-form__salary:hover {
  border-color: black;
}
.main-form__salary_error {
  border-color: #ea0029;
  position: relative;
}
.main-form__salary-error-text {
  display: none;
  color: #ea0029;
  margin-top: 0.25rem;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.75rem;
}
.main-form__salary_error + .main-form__salary-error-text {
  display: block;
}

.main-form__textButton {
  padding: 0;
  background: none;
  border: none;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ea0029;
  line-height: 1.5rem;
  cursor: pointer;
  margin: 0.5rem 0 0;
  font-family: inherit;
}

.we-reduce {
  display: flex;
  align-items: center;
  margin: 1.5rem 0 2rem;
}
.we-reduce__text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding-right: 1.5rem;
}
.tag__input {
  display: none;
}
.tag__button {
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
  padding: 0.375rem 0.75rem;
  margin: 0 0.25rem;
  cursor: pointer;
  border-radius: 50px;
  background: #eef0f2;
}
.tag__input:checked + .tag__button {
  background: linear-gradient(
      255.35deg,
      #dc3131 0.83%,
      rgba(255, 79, 79, 0) 108.93%
    ),
    #ff5e56;
  color: white;
}

@media screen and (max-width: 320px) {
  .we-reduce {
    display: block;
  }
  .we-reduce__text {
    display: block;
  }
  .tag {
    display: inline;
  }
}

.pay-list__text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}

.pay-list__label {
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.pay-list__box {
  color: #808080;
  padding: 0.5rem 0;
  border-bottom: solid 1px #dfe3e6;
}
.pay-list__mony {
  color: black;
}
.pay-list__checkbox {
  display: none;
}
.pay-list__checkbox + .pay-list__label::before {
  cursor: pointer;
  content: '';
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #dfe3e6;
  border-radius: 0.25rem;
  margin-right: 0.75rem;
  margin-bottom: -7px;
}
.pay-list__checkbox:checked + .pay-list__label::before {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: red;
  background-image: url('./img/checkbox.svg');
}
